client/node_modules/
client/dist/
client/.vite/

server/venv/
server/.venv/
server/__pycache__/
server/.pytest_cache/
*.pyc

.ipynb_checkpoints/
.DS_Store
Thumbs.db
.env
.env.*
server/flask.out.log
server/flask.err.log
server/requirements.txt

client/package-lock.json
client/package.json